{% extends 'partials/base.html'%}
{% block title %}Produits{%endblock %}
<!--Table-->
{%block content%}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                <div class="border bg-white p-3">
                    <h4><b>Ajouter un produit :</b></h4>
                    <hr>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputNom">Nom</label>
                            <input type="text" class="form-control" id="exampleInputNom"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputQuantité">Quantité</label>
                            <input type="text" class="form-control" id="exampleInputQuantité">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Catégorie</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choisir...</option>
                                <option>...</option>
                            </select>
                        </div>

                        <input class="btn btn-success btn-block" type="submit" value="Ajouter ">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Nom du produit</th>
                            <th scope="col">Catégorie</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>pc</td>
                            <td>portable</td>
                            <td>10</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="">Modifier</a>
                                <a class="btn btn-danger btn-sm" href="">Supprimer</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>pc</td>
                            <td>bureau</td>
                            <td>15</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="">Modifier</a>
                                <a class="btn btn-danger btn-sm" href="">Supprimer</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>souris</td>
                            <td>informatique</td>
                            <td>40</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="">Modifier</a>
                                <a class="btn btn-danger btn-sm" href="">Supprimer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->
    {%endblock%}

